<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Set-up-environment" data-toc-modified-id="Set-up-environment-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Set up environment</a></span><ul class="toc-item"><li><span><a href="#Load-libraries" data-toc-modified-id="Load-libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Load libraries</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Functions</a></span></li></ul></li><li><span><a href="#Question-1" data-toc-modified-id="Question-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Question 1</a></span></li><li><span><a href="#Main" data-toc-modified-id="Main-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Main</a></span></li></ul></div>

**Author:** Ben Croft

**Date:** 7/27/2021

**Description** This Jupyter notebook demonstrates a step-by-step solution to the questions posed in the technical challenge for the Data Engineer/Analyst position at CU Boulder.

## Set up environment

### Load libraries

In [1]:
import pandas as pd
import time
import sqlite3
from sqlite3 import Error

### Functions

In [9]:
# Create the database as given in the provided script
def create_db(create_db_script):
    exec(open(create_db_script).read())

In [7]:
# Create a database connection (sqlite3)
def create_db_connection(db_name):
    
    conn = None
    
    try:
        conn = sqlite3.connect(db_name)
    except Error as e:
        print(e)
    
    return conn

## Question 1

**Instructions:** What students by first name, last name, and major name sorted alphabetically by last name have majors from the Engineering or Language Arts departments?

## Main

In [5]:
def main():
    # Create the database provided by the given script
    db_name = "student_major.db" 
    create_db_script = 'create_db.py'
    create_db(create_db_script)
    
    # Create a database connection and a cursor to parse data
    conn = create_db_connection(db_name)
    cursor = conn.cursor()

In [10]:
# Run script
if __name__ == '__main__':
    main()

In [13]:
# Check script so far:
db_name = "student_major.db" 
conn = create_db_connection(db_name)
cursor = conn.cursor()

cursor.execute("SELECT * FROM student").fetchall()

[(1, 'Geetha', 'Manjunath', '1998-05-08'),
 (2, 'Kelsey', 'Hightower', '2001-11-20'),
 (3, 'Grace', 'Hopper', '2002-03-04'),
 (4, 'Alan', 'Turing', '1999-01-22'),
 (5, 'Andrew', 'Ng', '2000-07-19'),
 (6, 'Corinna', 'Cortes', '1999-06-30')]